@media (max-width: 1920px) {
  body {
    //  background-color: rgb(93, 250, 106);
  }
}
@media (max-width: 1400px) {
  body {
    //  background-color: yellow;
    .container {
      padding: 60px 50px;
    }
    .section-experiencias {

        .container-2 {

          padding: 60px 0px !important;
        }
    }
  }

  .titulo {
    font-size: 3rem !important;
  }
}
//tablet
@media (max-width: 1024px) {
  body {
    // background-color: rgb(255, 115, 0);
    .container {
      display: unset;
      padding: 60px 15px;
    }
    .container-2 {
        padding: 60px 10px;
      }
    .galeria {
      grid-template-columns: 1fr !important;
      // grid-template-rows: 1fr ;
    }
    .grid-2 {
      grid-template-columns: 1fr !important;
    }
    .texto {
      margin-top: 50px;
    }
    .nav-container {
      // padding: 0px 10px;
      .nav {
        display: none;
      }
      .icon-menu {
        height: 60px;
        display: block;
        fill: white !important;
        position: absolute;
        margin-left: 10px;
        top: 0;
        left: 0;
      }
      .item {
        font-size: 1rem !important;
      }
    }

    .menu-list {
      display: unset;

      div {
        a {
          font-size: 2rem;
          line-height: 100px;
        }
      }
    }

    .section-presentacion {
      padding: 100px 0px 0px 0px;
      .video {
        video {
          position: relative !important;
          left: 0 !important;
          width: 80%;
          top: 40px;
        }
      }
    }
    .section-habilidades{
      .post1{
        margin-top: 100px;
      }
        .container-3{
            padding: 20px 0px;
        }
        .progreso{
          //margin-bottom: 80px;
            progress{
                width: 80%;
            }
        } 
    }
    .pantallaDeCarga{
      .contenedor-load {
        
        .texto {
          h1 {
            font-size: 5rem;
          }
          .grilla {
            grid-template-columns: 1fr 1fr ;
            .imagen {
            
              .img {
                width: 150px;
                height: 150px;
              }
              h2 {
                font-size: 2rem;
              }
            }
          }
        }
      }
    }
    .pantallaDeCarga2 {
      .contenedor-load {
        .texto {
          h1 {
            font-size: 4rem;
          }
        }
      }
    }
    .pantallaDeCarga3 {
      #preloader_1 {
        top: 35%;
        height: 200px;
        width: 200;
      }
      #preloader_1 span {
        left: 340px;
        width: 10px;
      }
      #preloader_1 span:nth-child(2) {
        left: 350px;
        width: 10px;
        
      }
      #preloader_1 span:nth-child(3) {
        left: 360px;
        width: 10px;
        
      }
      #preloader_1 span:nth-child(4) {
        left: 370px;
        width: 10px;
        
      }
      #preloader_1 span:nth-child(5) {
        left: 380px;
        width: 10px;
      }
      .contenedor-load {
        .texto {
          h1 {
            font-size: 4rem;
          }
        }
      }
    }
    .pantallaDeCarga4 {
      .contenedor-load {
        .texto {
          h1 {
            font-size: 5rem;
          }
          button {
            font-size: 7rem;
            
          }
        }
      }
    }
    
    
  }
}
//celular
@media (max-width: 600px) {
  body {
    //  background-color: rgb(255, 0, 0);
    .titulo-seccion {
      font-size: 3rem;
    }
    .menu-list {
      div {
        a {
          font-size: 1.3rem;
          line-height: 50px;
        }
      }
    }
    .container-2 {
      padding: 60px 0px;
    }
    .section-presentacion {
      .video {
        video {
          position: relative !important;
          left: 0 !important;
          width: 100%;
        }
      }
    }
    .section-habilidades{
        .container-3{
            padding: 60px 0px;
        }
        .progreso{
            progress{
                width: 80%;
            }
        } 
    }
    .pantallaDeCarga{
      .contenedor-load {
        .texto {
          h1 {
            font-size: 2rem;
          }
          .grilla {
            grid-template-columns: 1fr  ;
            .imagen {
              .img {
                width: 100px;
                height: 100px;
              }
              h2 {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
    .pantallaDeCarga2 {
      .contenedor-load {
        .texto {
          h1 {
            font-size: 2rem;
          }
        }
      }
    }
    .pantallaDeCarga3 {
      #preloader_1 {
        top: 30%;
        height: 200px;
        width: 200;
      }
      #preloader_1 span {
        left: 173px;
        width: 8px;
      }
      #preloader_1 span:nth-child(2) {
        left: 184px;
        width: 8px;
        
      }
      #preloader_1 span:nth-child(3) {
        left: 197px;
        width: 8px;
        
      }
      #preloader_1 span:nth-child(4) {
        left: 210px;
        width: 8px;
        
      }
      #preloader_1 span:nth-child(5) {
        left: 320px;
        width: 8px;
      }
      .contenedor-load {
        .texto {
          h1 {
            font-size: 2rem;
          }
        }
      }
    }
    .pantallaDeCarga4 {
      .contenedor-load {
        .texto {
          h1 {
            font-size: 2rem;
          }
          button {
            font-size: 3rem;
            
          }
        }
      }
    }
    

    


  }
}
