@media(max-width: 1920px){
    body{
         background-color: rgb(93, 250, 106); 
    }


 
}
@media(max-width: 1200px){
    body{
         background-color: yellow; 
    }


 
}
@media(max-width: 992px){
    body{
        background-color: rgb(255, 115, 0); 
    }
  
 

}

@media(max-width: 600px){
    body{
         background-color: rgb(255, 0, 0);
     
    }
  

  
}
