@import "./scss/colors";
@import "./scss/mediaQueries";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

body{
  overflow-y: scroll;
}
.nav-container {
  position: fixed;
  z-index: 10000;
  top: 0px;
  width: 100%;
  height: 60px;
  background-color: rgba(100, 104, 104, 0.473);
  padding: 0px 300px;
  transition: all 0.5s;
  .nav {
    width: 100%;
    height: 100%;
    // background-color: rgb(255, 30, 0);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    .item-container {
      // box-sizing: border-box;
      // border: 1px solid;
      display: flex;
      align-items: center;
      justify-content: center;
      .item {
        a {
          text-decoration: none;
          color: white;
        }
        // background-color: pink;
        cursor: pointer;
        font-weight: 600;
        font-size: 1.25rem;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        &:hover {
          color: #181817;
        }
      }
    }
  }
}

.container {
  padding: 60px 300px;
  width: 100%;
  height: 100%;
}

.container-2 {
  padding: 60px 100px;
  height: 100%;
}

.section {
  // border: rgb(180, 180, 180) 1px solid;
  width: 100%;
}
.section-presentacion {
  padding: 100px 0px;
 
  .saludo {
    // background-color:aqua;
    width: 100%;
    height: 100%;
    h2 {
      font-size: 5rem;
    }
    p {
      font-size: 2rem;
    }
  }
  .video {
    // background-color: red;
    width: 100%;
    // height: 100%;
    video {
      // border: 1px solid;
      border-radius: 200px;
      width: 500px;
    }
  }
}
.section-proyectos {
  .descripcion {
    // background-color:aqua;
    width: 100%;
    height: 100%;
    h2 {
      font-size: 5rem;
    }
    p {
      font-size: 1rem;
    }
  }
  .galeria {
    // background-color: red;
    width: 100%;
    // height: 100px;
    // background-color: red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    .carta-container {
      padding: 0px 10px;
      //   border: 1px solid;
      width: 100%;
      height: 600px;
      display: flex;
      align-items: center;
      justify-content: center;
      .imagen {
        border-radius: 5px;
        background-color: #cccccc; /* Used if the image is unavailable */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        position: relative;
        height: 300px;
        width: 100%;
        .carta {
          border-radius: 5px;
          padding: 20px;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          height: 400px;
          width: 300px;
          background-color: $Danger;
          transition: all 0.3s ease-in-out;
          &:hover {
            width: 100%;
          }
          h2 {
            font-size: 2rem;
            color: white;
          }
          .line {
            border-radius: 10px;
            border: white 1px solid;
          }
          p {
            color: white;
          }
          button {
            cursor: pointer;
            margin-top: 40px;
            color: white !important;
            padding: 10px 50px;
            background-color: rgba(255, 255, 255, 0);
            color: black;
            border: 2px solid #ffffff; /* Green */
            border-radius: 20px;
          }
        }
      }
    }
  }
}
.section-experiencias {
  .texto {
    // width: 100%;
    // height: 100%;
    h2 {
      //height: 60%;
      font-size: 4.5rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
  .container-2 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .1fr 1fr;
    .containers {
      width: 200px;
      height: 280px;
      padding: 5px;
      transition: all 0.5s;
      .img1,
      .img2,
      .img3,
      .img4 {
        // background-color: red;
        width: 100%;
        img {
          width: 60%;
        }
      }
      .exp1,
      .exp2,
      .exp3,
      .exp4 {
        // background-color:aqua;
        width: 100%;
        height: 80%;
        text-align: center;
        h3 {
          line-height: 28px;
          font-size: 1.5rem;
          opacity: 0.8;
          margin-bottom: 5px;
        }
        button {
          cursor: pointer;
          // margin-top: 40px;
          // color: white !important;
          padding: 5px 10px;
          background-color: rgba(255, 255, 255, 0);
          // color: black;
          border: 2px solid $Dark; /* Green */
          border-radius: 20px;
        }
      }
    }
  }
}
.section-habilidades {
  // background-color: white;
  padding: 100px 0px;
  .personaje{
    position: absolute;
    transition: all 0.5s ease;
    left: -1000px;
  }
  .post {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .post1 {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 400px;
      height: 50%;
      .photo :hover {
        animation: photo 1s 1;
        transform-origin: top center;
      }
      .prem :hover {
        animation: prem 1s 1;
        transform-origin: top center;
      }
      .audit :hover {
        animation: audit 1s 1;
        transform-origin: top center;
        .personaje{
          right: 0;
        }
      }
      .illus :hover {
        animation: illus 1s 1;
        transform-origin: top center;
      }
      @keyframes photo {
        20% {
          transform: scale(0.9) rotate(-6deg);
        }
        30%,
        70% {
          transform: scale(1.4) rotate(6deg);
        }
        50%,
        90% {
          transform: scale(1.4) rotate(-6deg);
        }
      }
      @keyframes prem {
        20% {
          transform: scale(0.9) rotate(-6deg);
        }
        30%,
        70% {
          transform: scale(1.4) rotate(6deg);
        }
        50%,
        90% {
          transform: scale(1.4) rotate(-6deg);
        }
      }
      @keyframes audit {
        20% {
          transform: scale(0.9) rotate(-6deg);
        }
        30%,
        70% {
          transform: scale(1.4) rotate(6deg);
        }
        50%,
        90% {
          transform: scale(1.4) rotate(-6deg);
        }
      }
      @keyframes illus {
        20% {
          transform: scale(0.9) rotate(-6deg);
        }
        30%,
        70% {
          transform: scale(1.4) rotate(6deg);
        }
        50%,
        90% {
          transform: scale(1.4) rotate(-6deg);
        }
      }
      .photo {
        margin-top: -80px;
        margin-left: 50px;
        height: 100px;
        width: 100px;
        img {
          width: 100%;
        }
      }
      .prem {
        margin-top: -100px;
        height: 100px;
        width: 100px;
        img {
          width: 100%;
        }
      }
      .audit {
        margin-top: -30px;
        margin-left: 200px;
        height: 100px;
        width: 100px;
        img {
          width: 100%;
        }
      }
      .illus {
        margin-top: -90px;
        margin-left: 20px;
        height: 100px;
        width: 200px;
        img {
          width: 50%;
        }
      }
    }
    .post2 {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 400px;
      height: 50%;
      .img1 :hover {
        animation: img1 1s 1;
        transform-origin: top center;
      }
      .img2 :hover {
        animation: img2 1s 1;
        transform-origin: top center;
      }
      .img3 :hover {
        animation: img3 1s 1;
        transform-origin: top center;
      }
      .img4 :hover {
        animation: img4 1s 1;
        transform-origin: top center;
      }
      @keyframes img1 {
        20% {
          transform: scale(0.9) rotate(-6deg);
        }
        30%,
        70% {
          transform: scale(1.4) rotate(6deg);
        }
        50%,
        90% {
          transform: scale(1.4) rotate(-6deg);
        }
      }
      @keyframes img2 {
        20% {
          transform: scale(0.9) rotate(-6deg);
        }
        30%,
        70% {
          transform: scale(1.4) rotate(6deg);
        }
        50%,
        90% {
          transform: scale(1.4) rotate(-6deg);
        }
      }
      @keyframes img3 {
        20% {
          transform: scale(0.9) rotate(-6deg);
        }
        30%,
        70% {
          transform: scale(1.4) rotate(6deg);
        }
        50%,
        90% {
          transform: scale(1.4) rotate(-6deg);
        }
      }
      @keyframes img4 {
        20% {
          transform: scale(0.9) rotate(-6deg);
        }
        30%,
        70% {
          transform: scale(1.4) rotate(6deg);
        }
        50%,
        90% {
          transform: scale(1.4) rotate(-6deg);
        }
      }
    .img1 {
        height: 100px;
        width: 100px;
        img {
          width: 100%;
        }
      }
      .img2 {
        margin-left: -10px;
        margin-top: 30px;
        height: 100px;
        width: 100px;
        margin-right: 10px;
        img {
          width: 100%;
        }
      }
      .img3 {
        margin-top: -90px;
        margin-left: 140px;
        height: 110px;
        width: 110px;
        img {
          width: 100%;
        }
      }
      .img4 {
        margin-top: -20px;
        margin-right: 40px;
        height: 100px;
        width: 200px;
        img {
          width: 50%;
        }
      }
    }
  }
  .texto {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
      font-size: 5rem;
    }
    p {
      padding: 5px;
    }
  }
}
.section-estudios {
  .cuerpo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: Raleway;
    letter-spacing: 1px;
  }
  .titulo{
    font-size: 5rem;
  }
  h1 {
    // position: absolute;
    // top: 70px;
    padding-top: 20px;
    margin: 0;
    text-align: center;
    animation-delay: 1s;
    font-size: 4rem;
  }

  img {
    max-width: 100%;
  }

  .title {
    color: rgb(168, 28, 28);
  }

  .texto {
    font-size: 10px;
    color: red;
    padding-left: 5px;
    display: flex;
  }

  .padre {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    justify-items: center;
    /*    cursor: pointer;*/
    align-items: center;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 100%;
  }

  .image__text {
    position: absolute;
    color: #ccc;
    transition: transform 0.5s;
    font-size: 1rem;
    width: 95%;
  }

  .animado {
    overflow: initial;
    position: relative;
    width: 100%;
    max-width: 50%;
    align-items: center;
    justify-content: center;

    img {
      position: relative;
      transform-origin: right center;
      transition: transform 0.5s;
      z-index: 10;
    }
  }

  .trasladarArriba {
    animation: desplazarArriba 1s;
  }
}
.containers:hover {
  transform: translateY(-6px);
  transition-duration: 0.3s;
  animation: 1.5s mover-caja infinite;
  transition: all 0.5s ease;
}
.containers:before {

  content: "";
  background: radial-gradient(
    ellipse,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  width: 90%;
  height: 20px;
  top: 100%;
  left: 5%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.containers:hover:before {
  transition: opacity 0.5s ease;
  opacity: 1;
  transform: translateY(6px);
  transition-duration: 0.3s;
  animation: 1.5s mover-sombra infinite;
}

@keyframes mover-caja {
  50% {
    transform: translateY(-10px);
  }
}
@keyframes mover-sombra {
  50% {
    // opacity: 1;
    transform: translateY(10px) scale(0.9);
  }
}

.grid-2-row {
  display: grid;
  grid-template-rows: 1fr 1fr;
}



.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.centrar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circulo {
  width: 80vh;
  height: 80vh;
  background-color: $Primary;
  position: absolute;
  border-radius: 0px 0px 1000px 0px;
}

.shadow-4 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow 0.2s ease-in;
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

@keyframes desplazarArriba {
  0% {
    transform: translateY(-60px);
  }

  100% {
    transform: translateY(0);
  }
}

.trasladoLateral {
  animation: desplazarLateral 1s;
}

@keyframes desplazarLateral {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

.fadeInScroll {
  opacity: 0;
  transition: all 0.5s;
}

.fadeInScroll:hover {
  img {
    transform: scale(0.5) translateX(10px);
  }
  .image__text {
    transform: translate(-100px);
  }
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  // width: 10px !important;
  // background-color: none !important;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb{
  // width: 7px !important;
  // background-color: rgb(94, 94, 94) !important;
  // border-radius: 3px;
  // border-right: white solid 2px;
  // border-left: white solid 2px;
  // transition: all .3s ease;
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


.pantallaDeCarga{
    
  z-index: 1000000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  background-color: $Danger;
  animation-delay: 1s;
  // animation-name: example;
  animation-duration: 4s;
  .contenedor-load{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    .texto{
      h1{
        color:white;
        font-size: 7rem;
        
      }
      .grilla{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .imagen{
          padding: 0px 80px;
          .img{
            // background-image: url("/assets/imagenes/html5.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius:100px;
            width:200px;
            height:200px;
          }
          h2{
            font-size: 3rem;
            color: white;
          }
        }
      }
    }
  }
}


.pantallaDeCarga2{
    
  z-index: 1000000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  background-color: $Dark;
  animation-delay: 1s;
  // animation-name: example;
  animation-duration: 4s;
  .contenedor-load{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    .texto{
      h1{
        color:white;
        font-size: 7rem;
        
      }
    }
  }
}

.pantallaDeCarga3{
    
  z-index: 1000000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  background-color: $Primary;
  animation-delay: 1s;
  // animation-name: example;
  animation-duration: 4s;
  .contenedor-load{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    .texto{
      h1{
        color:white;
        font-size: 7rem;
        
      }
      
    }
  }
}
@keyframes example {
  from {background-color: $Dark;}
  to {background-color: $Danger;}
}